.activity-card {
  background-color: white;
  border: 1px solid #ccd5ae;
  padding: 0.4rem;
  margin: 0 auto;
  max-width: 20rem;
  min-height: 450px;
  position: relative;
  border-radius: 15px;
  box-shadow: 4px 12px 22px #c1c2bd;
}
.activity-card img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}
.card-desc {
  padding: 0.4rem;
}
.card-desc h3,
p {
  margin-left: 0.4rem;
}

.inner {
  margin: 0.6rem 0.2rem;
}

small {
  margin: 0.8rem 0;
  font-size: 0.9rem;
  color: #330;
}

.addAcBtn {
  padding: 0.8rem 2rem;
  margin: 0 auto;
  background-color: #df8040;
  color: #fefae0;
  border: 0;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-family: inherit;
  font-size: 1rem;
}
