.club-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 12px;
  padding: 1rem;
  justify-content: center;
}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.sidebar-container {
  background-color: #fefae0;
  height: 100%;
  padding: 1rem;
}

/* responsive csss */
@media (max-width: 992px) {
  .exercises-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .club-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 306px) and (max-width: 668px) {
  .exercises-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .club-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
